/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/
body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 620px;
}

.box1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

.box2{
    background-color: hsl(184, 100%, 22%);
}

.box3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

img{
    width: 64px;
    height: 40px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

button{
    
}